<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8abd">  <td>18/02/04 17:07:46</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Base.setUp()[pri:0, instance:com.testclasses.pkg.HomePageLinksTest@604ed9f0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/02/04 17:08:23</td>   <td>36970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinksTest.testHomePageLinks()[pri:0, instance:com.testclasses.pkg.HomePageLinksTest@604ed9f0]">testHomePageLinks</td> 
  <td>main@795372831</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>18/02/04 17:10:26</td>   <td>159361</td> <td>&nbsp;</td><td title="&lt;&lt;Base.closeBrowser()[pri:0, instance:com.testclasses.pkg.HomePageLinksTest@604ed9f0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@795372831</td>   <td></td> </tr>
</table>
